/* Colors */
:root {
    //Primary
    --color-light-red: hsl(0, 100%, 67%);
    --color-orangey-yellow: hsl(39, 100%, 56%);
    --color-green-teal: hsl(166, 100%, 37%);
    --color-cobalt-blue: hsl(234, 85%, 45%);

    //Gradients
    /*(background)*/
    --color-slate-blue: hsl(252, 100%, 67%);
    --color-royal-blue: hsl(241, 81%, 54%);

    /*(circle)*/
    --color-violet-blue: hsla(256, 72%, 46%, 1);
    --color-persian-blue: hsla(241, 72%, 46%, 0);


    //Neutral
    --color-pale-blue: hsl(221, 100%, 96%);
    --color-light-lavender: hsl(241, 100%, 89%);
    --color-gray-blue: hsl(224, 30%, 27%);
    --color-white: hsla(360, 100%, 100%, 1);
  }